body
{
  background-color: orange;
}
header
{
  border: 1px solid black;
  text-align: center;
  text-shadow: 3px 2px white;
  font-size: 31px;
  width: 1500px;
  height: 170px;
  background-color: #f8b173;
}
main
{
  border: 1px solid red;
  background-color:  #f8b173;
  width: 1500px;
  height: 150px;
  margin-top: 15px;
  text-align: center;
}
