body
{
  background-color: orange;
  width: 99%;
}

header
{
  border: 1px solid #171918;
  text-shadow: 3px 2px white;
  height: 170px;
  background-color: #f8b173;
}
header .title
{
  text-align: center;
  font-size: 45px;
}
main
{
  border: 1px solid #a01919;
  background-color:  #f8b173;
  height: 200px;
  margin-top: 15px;
  text-align: center;
}

#main_gallery
{
  height: 569px;
}

#main_review
{
  height: 569px;


}

#div_gallery
{
  display: inline-block;
  margin: 0 20px;
}
.pagination
{
  display: inline-block;
}

.pagination a
{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 4px;
}

.pagination a.active
{
    background-color: #f57200;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active)
{
  background-color: #ce701eab;
}
