body
{
  background-color: orange;
  width: 99%;
}
header
{
  border: 1px solid black;
  text-shadow: 3px 2px white;
  height: 170px;
  background-color: #f8b173;
}
main
{
  border: 1px solid black;
  background-color:  #f8b173;
  height: 750px;
  margin-top: 15px;
  text-align: center;
}
body main
{
  width: 74%;
}

body .side
{
  width: 24%;

}
footer
{
  border: 1px solid black;
  margin-top: 8px;
  height: 100px;
  background-color:  #f8b173;
}
.side
{
  text-align: center;
  border: 1px solid black;
  position: absolute;
  height: 750px;
  top: 195px;
  right: 4px;
  background-color:  #f8b173;
  overflow: auto;

}
.deco
{
  position: absolute;
  top: 141px;
  left: 24px;
  font-size: 24px;
}
header .profile
{
  position: absolute;
  top: 103px;
  left: 24px;
  font-size: 24px;
}
header .title
{
  text-align: center;
  font-size: 45px;


}
.welcome
{
  position: absolute;
  top: -4px;
  left: 27px;

}
.profile
{
  position: absolute;
  top: 70px;
  left: 24px;
  font-size: 24px;

}
#form_user
{
  visibility: hidden;
}
#form_email
{
  visibility: hidden;
}

#bmount
{
  cursor: not-allowed;

}
